
.oval-image-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.oval-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}
.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    gap: 15px;
}

.social-media-icons a {
    color: white;
    font-size: 30px;
    transition: color 0.3s;
}

.social-media-icons a:hover {
    color: #007bff;
}

    .social-media-icons img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
