/* ====== css/nav.css ====== */

.navbar a.nav-link {
    font-size: 14px;
    font-weight: 500; /* Added for slightly bolder text */
}

/* Center the nav links on mobile */
@media (max-width: 991.98px) {
  .navbar-nav .nav-item .nav-link {
    text-align: center;
    padding: 10px 0; /* Add some vertical padding */
  }
}
